
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
    font-size: 3rem;
    letter-spacing: .313rem;
    font-weight: 800;
}
   
    .inputs {
     display: flex;
     flex-direction: column;
     gap: 1rem;

     input {
        padding: 1rem;
        font-size: 1.25rem;
        border: solid .03rem;
        border-radius: .25rem;

        &:focus {
            outline-color: #C92071;
        }
     }
    } 
   
   
    .show {
        display: flex;
        gap: .5rem;

        input {
            width: 1rem;
            accent-color: #C92071;
        }
 
    }
    button {
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #C92071;
        border: none;
        border-radius: .25rem;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: .313rem;

        &:hover {
            background-color: #991956;
        }
    }

    .smalls {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}
